/***********************
 * Main shit
***********************/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&display=swap');

:root {
  --backgroundColor: #1d3049;
  --mainColor: #fddbae;
  --linkColor: #ff7171;
}

html {
  font-family: "Inconsolata", sans-serif;
  color: var(--mainColor);
  background-color: var(--backgroundColor);
  max-width: 900px;
  margin: auto;
}

h1 {
  font-size: 1.3em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

h1,h2,h3 {
  letter-spacing: 0.1rem;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p > code {
  font-family: "Inconsolata", sans-serif;
  color: var(--linkColor);
  background-color: #2f415A;
  padding: 2px;

}

pre {
  font-size: 14px;
  white-space: pre-wrap;
  overflow: hidden;
}

p {
  margin-top: 30px;
  margin-bottom: 30px;
}

article {
  line-height: 1.4;
  font-size: 20px;
}

img {
  max-width: 100%;
}

body {
  padding: 10px;
}

.header-ul {
  list-style-type: none;
  padding: 0;
}

.header-ul > li {
  display: inline;
  padding-right: 5px;
}

/***********************
 * Specific shit
***********************/

#header-top {
  display: flex;
  flex-direction: row;
}

#tagline {
  padding-top: 5px;
}

#header-top #name {
  padding-left: 20px;
}

#home-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
