/***********************
 * Main shit
***********************/

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300;500&display=swap');

:root {
  --backgroundColor: #1a1c20;
  --mainColor: #e8e8e8;
  --linkColor: #fe7171;
}

html {
  font-family: "Inconsolata", sans-serif;
  color: var(--mainColor);
  background-color: var(--backgroundColor);
  max-width: 900px;
  margin: auto;
}

h1,h2,h3,h4 {
  margin-block-start: 0;
  margin-block-end: 0;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.2em;
}

h3 {
  font-size: 1.1em;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p > code {
  font-family: "Inconsolata", sans-serif;
  color: var(--linkColor);
  background-color: #111;
  padding: 2px;

}

pre {
  font-size: 14px;
  white-space: pre-wrap;
  overflow: hidden;
}

p {
  margin-top: 20px;
  margin-bottom: 20px;
}

article {
  line-height: 1.2;
  font-size: 20px;
}

img {
  max-width: 100%;
}

body {
  padding: 10px;
}

header {
  padding-bottom: 35px;
}

.header-ul, .header-ul-social {
  list-style-type: none;
  padding: 0;
}

.header-ul > li {
  display: inline;
  padding-right: 30px;
  font-size: 25px;
}

.header-ul-social > li {
  display: inline;
  padding-right: 20px;
  font-size: 20px;
}

.header-ul-social > li a:hover {
  text-decoration: none;
}

article li {
  padding-top: 5px;
  padding-bottom: 5px;
}



/***********************
 * Specific shit
***********************/

#header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#tagline {
  padding-top: 5px;
  padding-bottom: 20px;
}

#name {
  padding-left: 20px;
  font-size: 30px;
}

#home-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}
