/***********************
 * Main shit
***********************/

@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,700;1,400&display=swap');

:root {
  --backgroundColor: #14213d;
  --mainColor: #ccc;
  --mutedColor: #999;
  --linkColor: #f07167;
}

html {
  font-family: "Roboto Mono", sans-serif;
  color: var(--mainColor);
  background-color: var(--backgroundColor);
  max-width: 900px;
  margin: auto;
}

img {
  max-width: 100%;
}

body {
  padding: 10px;
}

h1,h2,h3,h4 {
  color: var(--linkColor);
  font-weight: bold;
  padding-bottom: 5px;
}

h1 {
  font-size: 1.7em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.3em;
}

h4 {
  font-size: 1.2em;
}

a {
  color: var(--linkColor);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

ol {
  margin-top: 0;
}

pre {
  font-size: 14px;
  white-space: pre-wrap;
  overflow: hidden;
}

main {
  padding-bottom: 30px;
}

/***********************
 * Articles
***********************/

article p {
  margin-bottom: 30px;
}

article {
  line-height: 1.4;
  font-size: 1.1em;
}

article h1 {
  padding-top: 40px;
}

article time {
  color: var(--mutedColor);
  font-size: 0.8em;
}

article strong {
  text-decoration: underline;
}

article figure img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

article figure figcaption {
  text-align: center;
  font-size: 14px;
}

article blockquote {
  font-style: italic;
  margin-left: 20px;
  border-left: 5px solid var(--mainColor);
  padding-left: 20px;
}

article ol {
  margin-top: -20px;
}

article ul {
  margin-top: -20px;
}

article li {
  padding-top: 5px;
  padding-bottom: 5px;
}

p > code {
  font-family: "Roboto Mono", sans-serif;
  color: var(--linkColor);
  background-color: #111;
  padding: 2px;
}

/***********************
 * Top header
***********************/

.header-ul, .header-ul-social {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.header-ul {
  padding-top: 30px;
}

.header-ul > li {
  display: inline;
  padding-right: 30px;
  font-size: 25px;
}

.header-ul-social > li {
  display: inline;
  padding-right: 20px;
  font-size: 20px;
}

.header-ul-social > li a:hover {
  text-decoration: none;
}

#header-top {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#header-top > img {
  width: 100%;
}

#tagline {
  padding-bottom: 10px;
  color: var(--mutedColor);
}

#name {
  padding-left: 20px;
}

#name > h1 {
  font-size: 3.0em;
  padding-bottom: 0;
}

#home-image {
  border-radius: 50%;
  max-width: 100px;
  max-height: 100px;
}
