<header>
  <div>
    <div id="header-top">
      <a href="/">
        <img id="home-image" src="/images/avatar.png" />
      </a>

      <div id="name">
        <h2>
          <a href="/">Grant Ammons </a>
        </h2>

        <ul class="header-ul-social">
          {{ range .Site.Params.social }}
          <li>
            <a href="{{ .href }}" target="_blank">
              <i class="{{ .fa_icon }}"></i>
            </a>
          </li>
          {{ end }}
        </ul>
      </div>

    </div>
    <div>

      <div id="tagline">
        I blog about engineering leadership, software design, and side projects.
      </div>

      <ul class="header-ul">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
        <li class="list-inline-item">
          <a class="badge badge-white {{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
  <hr />
</header>

